html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    color: rgb(243, 243, 243);
}

#top{
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.020);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo-top{
    display: flex;
    margin-left: 50px;
}

.img-logo{
    width: 30px;
    height: 30px;
    margin: auto 0px auto 0px;
}

.h1-logo{
    text-align: center;
    margin: auto 0px auto 0px;
    font-size: medium;
}

.ul-navbar{
    font-family: "Google Sans", sans-serif;
    display: flex;
    gap: 30px;
    margin: auto 50px auto 0px;
    text-align: center;
    height: 20px;
    display: flex;
    align-items: center;
}

.ul-navbar li :hover{
    color: #38BDF8;
    transition-duration: 1s;
}

.cta-top{
    color: white;
    background-color: rgb(0, 235, 121);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    height: 20px;
    display: flex;
    align-items: center;
}

.cta-top:hover{
    background-color: rgb(1, 197, 102);
    transition-duration: 1s;
}

.ul-navbar li, a{
    list-style: none;
    text-decoration: none;
}

#início{
    background-color: rgb(22, 23, 43);
    padding-top: 120px;
}

.text-inic{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-family: "Urbanist", sans-serif;
    font-weight: 100;
}

.clientes-inic{
    color: #38BDF8;
}

.h1-inic{
    font-size: 70px;
    width: 1000px;
    margin: 0 auto;
}

.h3-inic{
    font-size: x-large;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    color: rgb(166, 166, 166);
    font-weight: 200;
}

.h1-bt-orç{
    text-align: center;
    border: 1px solid rgb(0, 235, 121);
    background-color: rgb(0, 235, 121);
    width: 180px;
    font-size: large;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    font-size: x-large;
}

.h1-bt-orç:hover{
    background-color: rgb(1, 197, 102);
    transition-duration: 1s;
}

.nums-inic{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    text-align: center;
    justify-content: center;
}

.a-nums-inic{
    color: #38BDF8;
}
