html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    color: white;
}

#top{
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo-top{
    display: flex;
    margin-left: 50px;
}

.img-logo{
    width: 50px;
    height: 50px;
    margin: auto 0px auto 0px;
}

.h1-logo{
    text-align: center;
    margin: auto 0px auto 0px;
}

.ul-navbar{
    display: flex;
    gap: 30px;
    margin-right: 50px;
}

.ul-navbar li, a{
    list-style: none;
    text-decoration: none;
}

#início{
    background-color: rgb(22, 23, 43);
    padding-top: 120px;
}

.text-inic{
    text-align: center;
}

.clientes-inic{
    color: #38BDF8;
}

.h3-inic{
    font-size: large;
    margin-top: 10px;
    width: 550px;
}

.h1-bt-orç{
    text-align: center;
    border: 1px solid green;
    background-color: green;
    width: 180px;
    font-size: large;
}
