html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    color: white;
}

#initial{
    background-color: rgb(0, 0, 36);
}

svg {
    width: 20px;
    height: 20px;
    color: white;
}

.p-main{
    display: flex;
    padding: 10px;
    border: 1px solid rgb(0, 111, 175);
    border-radius: 10px;
    width: fit-content;
}